.form-card {
  width: 438px;
  height: 693px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-card label {
  color: var(--text);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.9rem;
}

.form-card input[type='text'] {
  background: var(--bg-card);
  border: 5px solid var(--bg);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  color: var(--text);
}

.form-card input[type='text']::-webkit-input-placeholder {
  color: var(--text);
  font-size: 1.6rem;
}

.form-card input[type='text']::-moz-placeholder {
  color: var(--text);
}

.form-card button {
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #8257E6;
  border-radius: 10px;
  background: var(--bg);
  color: var(--buttons);
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.8s;
}

.form-card button:hover {
  background: #00000067;
  border: 2px solid var(--text);
}

.botao-buscar-usuario {
  margin-bottom: 35px;
}

.customizar-card p {
  color: var(--text);
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 10px;
}

.box-temas {
  display: flex;
  
}

.tema {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
  background: red;
  border-radius: 50%;
  border: 2px solid var(--buttons);
}

.tema-um {
  margin-left: 0;
  background: #000000;
}

.tema-dois {
  background: #65BC26;
}

.tema-tres {
  background: #7B3E53;
}

.tema-quatro {
  background: #A8C188;
}

.tema-cinco {
  background: #8257E6;
}

@media(max-width: 500px) {
  .form-card {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
}