@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

:root {
  --bg: #000000;
  --bg-card: #0E1218;
  --text: #F1F1F1;
  --img-profile: #8257e5;
  --buttons: #FFF;
  --border-button: #1A1A1A;
  --font-padrao: 'Prompt', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--bg-card);
}

.corpo {
  width: 100vw;
  height: 100vh;
  background: var(--bg-card);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .corpo {
    flex-direction: column;
  }
}